quickdraw_trainset/*
quickdraw_testset/*
quickdraw_binary/*
quickdraw_lmdb_test
quickdraw_lmdb_train
quickdraw_test.binaryproto
quickdraw_train.binaryproto

10_cl/quickdraw_trainset/*
10_cl/quickdraw_testset/*
10_cl/quickdraw_binary/*
10_cl/quickdraw_lmdb_test
10_cl/quickdraw_lmdb_train
10_cl/quickdraw_test.binaryproto
10_cl/quickdraw_train.binaryproto

deep-supervised-hashing-DSH/build
deep-supervised-hashing-DSH/OpenBLAS

model/*
finetune_model/*
model_nm/*
finetune_model_nm/*

10_cl/model/*
10_cl/finetune_model/*
10_cl/model_nm/*
10_cl/finetune_model_nm/*

final_models/*

